* {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans";
}

body button {
  cursor: pointer;
}

/* HERO PAGE */
.hero-cover {
  position: relative;
}
.responsive {
  width: 100%;
  height: auto;
}

.hero-cover-txt {
  position: absolute;
  top: 15%;
  left: 20%;
}
.hero-cover-txt h1 {
  color: #363636;
  font-size: 45px;
  font-weight: 500;
  max-width: 480px;
}
.hero-cover-txt .green {
  color: #549663;
  font-size: 45px;
  font-weight: 800;
}

.hero-cover-txt h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #363636;
  max-width: 400px;
  padding-top: 15px;
}

.hero-cover-txt .one-of-a-kind {
  font-size: 1.5rem;
  font-weight: 800;
  color: #363636;
}

.page-01-heading {
  padding: 20px 300px;
}
.page-01-heading h2 {
  font-size: 2vw;
  font-weight: 400;
  text-align: center;
  color: #363636;
}

.page-01-heading h2 #green-txt {
  font-size: 2vw;
  font-weight: 800;
  text-align: center;
  color: #549663;
}

#page-01-01-frame-89 h4 {
  font-size: 1vw;
  font-weight: 800;
  text-align: center;
  color: #363636;
  opacity: 0.4;
}

/* PAGE 01 */
.main-page-CTA {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.purshase-CTA {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.page-CTA-plan-01 {
  background: #ffffff;
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  border-color: #f1f0f5;
  border-radius: 15px;
  margin-right: 20px;
}

.one-time-purchase {
  background: #f0d8a8;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

.one-time-purchase p {
  font-size: 2vw;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #363636;
}
.sub-plan-01-sub-frame-product {
  display: flex;
  justify-content: center;
}
.sub-plan-01-sub-frame-3pouches p {
  font-size: 1.5vw;
  text-align: center;
  font-weight: 800;
  padding: 20px;
}

.sub-plan-01-sub-frame-product img {
  margin-left: 40px;
}
.sub-plan-01-sub-frame-product svg {
  margin-left: -35px;
}

.sub-plan-01-sub-frame-dicount p {
  font-size: 1.5vw;
  font-weight: 500;
  text-align: center;
  padding: 5px;
}
.sub-plan-01-sub-frame-price p {
  font-size: 3.5vw;
  font-weight: 800;
  text-align: center;
  color: #549663;
  padding-bottom: 10px;
}
.sub-plan-01-sub-frame-regular-price p {
  font-size: 1.5vw;
  font-weight: 200;
  text-align: center;
  color: #363636;
}

.btn-buy-now-cta p {
  font-size: 2vw;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #363636;
}
.btn-buy-now {
  padding: 12px 0px;
  background: #ffd800;
  border-radius: 15px;
  width: 300px;
  border: none;
  margin: 0 40px;
}
#p-ground-shipping {
  font-size: 1vw;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #363636;
}
.buy-now img {
  position: absolute;
  width: 20px;
}
.sub-plan-01-sub-frame-security {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}
.sub-plan-01-sub-frame-security-norton {
  padding-top: 15px;
}

/* Plan 2 */

.page-CTA-plan-02 {
  background: rgba(230, 236, 224, 0.5);
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  border-color: rgba(230, 236, 224, 0.5);
  border-radius: 15px;
}
.subscribe-save {
  background: #549663;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
.subscribe-save p {
  font-size: 2vw;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.sub-plan-02-sub-frame-buy4 p {
  font-size: 1.5vw;
  text-align: center;
  font-weight: 800;
  padding-top: 20px;
}

.sub-plan-02-sub-frame-buy4 span {
  font-size: 1.5vw;
  text-align: center;
  font-weight: 800;
  color: #d43b4a;
}

.sub-plan-02-sub-frame-product4 {
  display: flex;
  padding: 10px 20px;
}
.sub-plan-02-sub-frame-product4 img {
  position: relative;
}

.sub-plan-02-sub-frame-product4 svg {
  position: absolute;
  margin-left: -65px;
}

.sub-plan-02-sub-frame-dicount p {
  font-size: 1.5vw;
  font-weight: 500;
  text-align: center;
  padding: 3px;
}

.sub-plan-02-sub-frame-price p {
  font-size: 3.5vw;
  font-weight: 800;
  text-align: center;
  color: #549663;
  padding-bottom: 10px;
}

.sub-plan-02-sub-frame-regular-price p {
  font-size: 1.5vw;
  font-weight: 200;
  text-align: center;
  color: #363636;
}

#p-free-shipping {
  font-size: 1vw;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #363636;
}

/* Plan 3 */
.page-CTA-third-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 20px 0;
  margin: 0 200px;
}

.page-CTA-third-frame-text p {
  font-size: 1vw;
  font-weight: 400;
  text-align: center;
  color: #363636;
}
/* PAGE 02 */

.page-02-heading-frame-text {
  padding: 40px;
  background-color: #549663;
}
.page-02-heading-frame-text h3 {
  font-style: normal;
  font-size: 1.5vw;
  font-weight: 200;
  text-align: center;
  color: #ffffff;
}
.page-02-heading-frame-text h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 2vw;
  text-align: center;
  color: #ffffff;
}
.page-02-heading-frame-text-elipse {
  background: url(images/Ellipse.png);
  position: relative;
  background-color: #f1f0f5;
  left: 50%;
  max-width: 50px;
  border-radius: 50%;
  margin: -25px;
  padding-bottom: 5px;
}
.page-02-heading-frame-text-elipse svg {
  position: relative;
  left: 16px;
  max-width: 15px;
}

.copy {
  background-color: #f1f0f5;
}
.responsive-cards {
  width: 100%;
  height: auto;
}
.cards-1-row {
  display: flex;
}
.cards {
  padding: 40px 150px;
}

/* 1 row frame1 */

.cards-1-row-allday-picture img {
  border-radius: 15px;
}
.cards-1-row-allday-title h3 {
  font-size: 1.5vw;
  font-weight: 800;
  text-align: center;
  color: #549663;
  padding: 15px 0;
}
.green-and-lean {
  font-size: 1vw;
  font-weight: 800;
  line-height: 2vw;
  text-align: left;
}
.cards-1-row-allday-paragraph p {
  font-size: 1vw;
  line-height: 2vw;
  text-align: left;
  color: #363636;
}
.cards-1-row-allday-paragraph-2 p {
  font-size: 1vw;
  line-height: 2vw;
  font-style: italic;
  font-weight: 800;

  text-align: left;
  color: #d43b4a;
}
/* 1 row frame2 */

.cards-1-row-sharper-picture img {
  border-radius: 15px;
}
.cards-1-row-sharper-title h3 {
  font-size: 1.5vw;
  font-weight: 800;
  text-align: center;
  color: #549663;
  padding: 15px 0;
}

.cards-1-row-sharper-paragraph p {
  font-size: 1vw;
  line-height: 2vw;
  text-align: left;
  color: #363636;
}

.cards-1-row-sharper-paragraph-2 p {
  font-size: 1vw;
  line-height: 2vw;
  font-style: italic;
  font-weight: 800;
  text-align: left;
  color: #d43b4a;
}
.cards-2-row {
  display: flex;
  justify-content: center;
}

/* 2 row frame3 */

.cards-2-row-calmness-picture img {
  border-radius: 15px;
}

.cards-2-row-calmness-title h3 {
  font-size: 1.5vw;
  font-weight: 800;
  text-align: center;
  color: #549663;
  padding: 15px 0;
}

.cards-2-row-calmness-paragraph p {
  font-size: 1vw;
  line-height: 2vw;
  text-align: left;
  color: #363636;
}

.cards-2-row-calmness-paragraph-2 p {
  font-size: 1vw;
  line-height: 2vw;
  font-style: italic;
  font-weight: 800;
  text-align: left;
  color: #d43b4a;
}
/* 2 row frame4 */
.cards-2-row-improved-picture img {
  border-radius: 15px;
}

.cards-2-row-improved-title h3 {
  font-size: 1.5vw;
  font-weight: 800;
  text-align: center;
  color: #549663;
  padding: 15px 0;
}

.cards-2-row-improved-paragraph p {
  font-size: 1vw;
  line-height: 2vw;
  text-align: left;
  color: #363636;
}

.cards-2-row-improved-paragraph-2 p {
  font-size: 1vw;
  line-height: 2vw;
  font-style: italic;
  font-weight: 800;
  text-align: left;
  color: #d43b4a;
}
.cards-button-text {
  display: flex;
}
.cards-button {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.cards-btn-buy-now {
  padding: 25px 0;
  background: #ffd800;
  border-radius: 15px;
  border: none;
  font-size: 3vw;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #363636;
  width: 600px;
}

.cards-btn-text {
  display: flex;
  justify-content: center;
}
.cards-btn-text p {
  font-size: 1.5vw;
  font-weight: 400;
  color: #363636;
  padding: 10px;
}

/* TESTEMONIALS-01 */
.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 300px;
  overflow: hidden;
  position: relative;
}
.testimonials-01-first {
  background: #ffffff;
  border-radius: 15px;
  margin-right: 20px;
}

.testimonials-01 {
  background: #f1f0f5;
  border-radius: 15px;
  margin-right: 20px;
  padding: 10px;
  width: 1100px;
}
.testimonials-01-text p {
  font-size: 1vw;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5vw;
  text-align: left;
  color: #363636;
  padding: 10px 20px;
}
.testimonials-01-text-1 {
  font-size: 1vw;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5vw;
  text-align: left;
  color: #363636;
  padding: 10px 20px;
}
.testimonials-01-text {
  padding-bottom: 80px;
}
.testimonials-01-signature p {
  font-size: 1.5vw;
  font-weight: 800;
  text-align: left;
  color: #549663;
}

.testimonials-01-signature {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.testimonials-01-signature-ticks {
  position: relative;
  opacity: 0.3;
  left: 80%;
  top: 30%;
  margin-bottom: -50px;
}
.testimonials-01-signature-ticks svg {
  position: relative;
  width: 60px;
}

/* TESTEMONIALS-02 */
.testimonials-02-first {
  background: #ffffff;
  border-radius: 15px;
  margin-right: 20px;
}

.testimonials-02 {
  background: #f1f0f5;
  border-radius: 15px;
  margin-right: 20px;
  padding: 10px;
  width: 1100px;
}

.testimonials-02-text p {
  font-size: 1vw;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5vw;
  text-align: left;
  color: #363636;
  padding: 10px 20px;
}
.testimonials-02-signature p {
  font-size: 1.5vw;
  font-weight: 800;
  text-align: left;
  color: #549663;
}
.testimonials-02-signature {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.testimonials-02-signature-ticks {
  position: relative;
  opacity: 0.3;
  left: 78%;
  top: 20%;
  margin-bottom: -50px;
}
.testimonials-02-signature-ticks svg {
  position: relative;
  width: 60px;
}

/* PAGE 03 */

.page-03 {
  background-color: #ffffff;
}
.page-03-heading h1 {
  font-size: 2.5vw;
  font-weight: 800;
  line-height: 3.5vw;
  text-align: center;
  color: #549663;
  padding-top: 30px;
}
.page-03-title h2 {
  font-size: 2vw;
  font-weight: 800;
  line-height: 3vw;
  text-align: center;
  color: #363636;
  padding: 15px 150px;
}

/* INGREDIENT LIST */
#page-03-ingredient-list {
  padding-top: 40px;
}

.test01 {
  display: flex;
}
.test01 {
  padding: 20px 300px;
}
.ingredient {
  background-color: #f7f7f7;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 20px;
}
.list-01-frame {
  display: flex;
}
.list-01-frame-text-title {
  padding: 10px 0;
}
.list-01-frame-text-title h2 {
  font-size: 1.8vw;
  font-weight: 800;
  line-height: 3vw;
  text-align: left;
  color: #549663;
  text-transform: capitalize;
}
.list-01-frame-text {
  max-width: 55%;
}
.list-01-frame-text-paragraph p {
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.6vw;
  text-align: left;
  color: #363636;
}

.list-01-frame-text-bold {
  padding-top: 20px;
}
.list-01-frame-text-bold li {
  font-size: 1vw;
  font-weight: 800;
  line-height: 1.6vw;
  text-align: left;
  color: #363636;
}

.list-01-frame-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.list-01-frame-text-bolds span {
  font-size: 0.8vw;
  font-weight: 200;
  line-height: 1.6vw;
  text-align: left;
  color: #363636;
}

/* PAGE 04  */

/* HEADING */

.page-04-heading-frame-text {
  padding: 50px 100px;
  background-color: #549663;
}
.page-04-heading h2 {
  font-size: 2.5vw;
  font-weight: 400;
  line-height: 3.5vw;
  text-align: center;
  color: #ffffff;
  padding-bottom: 30px;
}
.page-04-heading h2 span {
  font-style: normal;
  font-size: 2.5vw;
  font-weight: 800;
  line-height: 3.5px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 30px;
}
.page-04-heading-frame-text-elipse {
  background: url(images/Ellipse.png);
  position: relative;
  background-color: #f1f0f5;
  left: 50%;
  width: 50px;
  border-radius: 50%;
  margin: -25px;
  height: 50px;
}
.page-04-heading-frame-text-elipse svg {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 15px;
}

.test-body {
  max-width: 60%;
  margin: 0 auto;
}
.body-text-test {
  padding-bottom: 15px;
}
.body-text-paragraph p {
  font-size: 1vw;
  font-weight: 400;
  line-height: 2vw;
  color: #363636;
}

.paragraph-bold {
  font-size: 1vw;
  font-weight: 800;
  line-height: 2vw;
  color: #363636;
}
.body-text-paragraph .green-and-lean {
  font-size: 1vw;
  font-weight: 800;
  line-height: 2vw;
  color: #549663;
}
.MBG {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.MBG-01 {
  position: relative;
  max-width: 75%;
  background: #549663;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
}
.MBG-body-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}
.MBG-body-title-text {
  align-items: center;
  justify-content: center;
  max-width: 70%;
}
.MBG-body-title-img {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.MBG-heading h2 {
  font-style: normal;
  font-size: 2.5vw;
  font-weight: 800;
  line-height: 3.5vw;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
  padding-top: 20px;
}
.MBG-body-title p {
  font-size: 1.2vw;
  font-weight: 200;
  line-height: 1.5vw;
  color: #ffffff;
}
.MBG-body-title span {
  font-style: normal;
  font-size: 1.2vw;
  font-weight: 800;
  line-height: 1.5px;
  color: #ffffff;
}
.MBG-body-subtitle p {
  font-style: normal;
  font-size: 1.2vw;
  font-weight: 200;
  line-height: 1.5vw;
  color: #ffffff;
}
.MBG-body-subtitle span {
  font-style: normal;
  font-size: 1.2vw;
  font-weight: 200;
  line-height: 1.5vw;
  color: #ffffff;
}
.MBG-body-title-text-main {
  padding-bottom: 15px;
}

.MBG-body-title-img2 {
  margin-left: -70px;
  padding-bottom: 130px;
}
.MBG-body-subtitle {
  padding: 20px;
}
.MBG-body-subtitle-simbol img {
  position: absolute;
  right: -90px;
  bottom: -30px;
  rotate: 30deg;
  max-width: 350px;
  opacity: 0.3;
}

/* PAGE-05 */
.page-05 {
  background: #f1f0f5;
}
.page-05-heading {
  margin: 0 auto;
}
.page-05-features {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-05-features-left-main {
  display: flex;
  flex-direction: column;
}
.page-05-features-left {
  display: flex;
  align-items: center;
}
.page-05-features-right-main {
  display: flex;
  flex-direction: column;
}
.page-05-features-right {
  display: flex;
  align-items: center;
}
.page-05-features-img {
  padding: 60px;
}
.page-05-heading h2 {
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 3vw;
  color: #549663;
  padding-top: 20px;

  text-align: center;
}
.page-05-heading h4 {
  font-weight: 600;
  font-size: 1.7vw;
  line-height: 2.5vw;
  color: #363636;
  text-align: center;
  padding: 10px 300px;
}

.page-05-features-left-text .text-left h5 {
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 2vw;
  color: #363636;
  text-align: right;
}
.text-left {
  padding: 10px 15px 10px 100px;
}
.tik-left {
  padding: 10px;
}
.page-05-features-right-text .text-right h5 {
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 2vw;
  text-align: left;
  color: #363636;
}
.text-right {
  padding: 10px 100px 15px 10px;
}
/* PAGE 06 */
.page-06 {
  background: no-repeat url(images/greenery.avif);
  background-size: cover;
}
.page-06-heading h2 {
  font-size: 2.5vw;
  font-weight: 800;
  line-height: 2.5vw;
  text-align: center;
  color: #363636;
  padding: 30px;
}
.page-06-row-1 {
  display: flex;
  justify-content: center;
}
.row1-first-element {
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  max-width: 500px;
  margin: 10px;
}
.row1-second-element {
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 10px;
}
.elipse {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.elipse-elements {
  background: no-repeat url(images/Ellipse\ 1.png);
  background-size: cover;
}
.elipse-elements-svg {
  width: 43px;
}
.elipse-elements-svg svg {
  position: relative;
  left: 2px;
  top: 1;
}
.page06-title {
  padding: 10px;
}
.page-06-title h6 {
  font-size: 2vw;
  font-weight: 800;
  line-height: 3vw;
  text-align: center;
  color: #549663;
}
.page-06-text {
  max-width: 300px;
  padding: 20px;
}
.page-06-text p {
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1.5vw;
  text-align: center;
  color: #363636;
}
/* PAGE 08 */
.page-08 {
  background-color: #f1f0f5;
}
/* PAGE 10 */
.page-10 {
  background-color: #f1f0f5;
}
.FAQ {
  margin: 0 300px;
  padding-bottom: 20px;
}
.heading-text h2 {
  font-size: 2.5vw;
  font-weight: 800;
  line-height: 3vw;
  text-align: center;
  color: #363636;
}
.heading-text {
  padding: 20px;
}
.accordion {
  background-color: #549663;
  cursor: pointer;
  width: 100%;
  border: #549663;
  text-align: left;
  outline: none;
  font-size: 1vw;
  transition: 0.4s;
  font-weight: 400;
  line-height: 2vw;
  text-align: left;
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

.accordion:hover {
  background-color: #013007;
}

.panel p {
  font-size: 0.7vw;
  font-weight: 400;
  line-height: 1.2vw;
  text-align: center;
  color: #363636;
  padding: 10px;
}
.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  border: solid #319e4b;
  border-radius: 5px;
}
/* PAGE-FOOTER */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.under-line .line hr {
  border: 3px solid #f1f0f5;
}
.under-line {
  display: flex;
  justify-content: center;
}
.header {
  padding: 0 20px;
}

.header p {
  font-size: 1vw;
  font-weight: 800;
  line-height: 2vw;
  text-align: center;
  color: #363636;
}
.under-line {
  margin: 0 300px;
  padding: 10px 0;
}
.under-line-right {
  padding-left: 15px;
}
.under-line p {
  font-size: 0.7vw;
  font-weight: 800;
  line-height: 1.6vw;
  text-align: center;
  color: #363636;
}
.footer-text {
  margin: 0 250px;
}
.footer-text p {
  font-size: 0.7vw;
  font-weight: 400;
  line-height: 1.6vw;
  text-align: center;
  color: #363636;
}
.end-text p {
  font-size: 0.7vw;
  font-weight: 400;
  line-height: 1.6vw;
  text-align: center;
  color: #363636;
  border-style: ridge;
  padding: 10px 20px;
}
.end-text {
  padding-bottom: 20px;
  margin: 0 250px;
}
/* MEDIA QUERY */

@media only screen and (max-width: 1024px) {
  .hero-cover-txt {
    position: absolute;
    max-width: 300px;
  }

  .hero-cover-txt h1 {
    color: #363636;
    font-size: 2.5vw;
    font-weight: 400;
  }
  .hero-cover-txt .green {
    color: #549663;
    font-size: 2.5vw;
    font-weight: 800;
  }

  .hero-cover-txt h3 {
    font-size: 1.5vw;
    font-weight: 400;
    color: #363636;
  }
  .hero-cover-txt .one-of-a-kind {
    font-size: 1.5vw;
    font-weight: 800;
    color: #363636;
  }
  .page-01-heading {
    padding: 5px 50px;
  }
  .purshase-CTA {
    padding: 5px;
  }

  .page-CTA-plan-01 {
    margin-right: 40px;
  }
  .sub-plan-01-sub-frame-product img {
    width: 150px;
    margin: 0;
  }
  .sub-plan-01-sub-frame-product svg {
    width: 30px;
  }
  .buy-now img {
    position: absolute;
    padding-left: 40px;
    margin-top: -15px;
  }

  .btn-buy-now {
    width: 200px;
  }
  .sub-plan-02-sub-frame-product4 img {
    width: 200px;
    left: 30px;
  }
  .sub-plan-02-sub-frame-product4 svg {
    width: 30px;
    margin: 0;
  }
  .page-CTA-third-frame {
    margin: 0;
    padding: 0;
  }
  .third-frame img {
    width: 15px;
  }
  .page-02-heading-frame-text-elipse {
    left: 90%;
  }
  .cards {
    padding: 5px 20px;
  }
  .cards h3 {
    font-size: 2vw;
  }
  .cards p {
    font-size: 1.5vw;
  }
  .green-and-lean {
    font-size: 1.5vw;
  }
  .list-01-frame-text p {
    font-size: 1.5vw;
  }
  .list-01-frame-text-bold li {
    font-size: 1.5vw;
  }
  .list-01-frame-text {
    max-width: 100%;
  }
  .cards-1-row {
    display: block;
    padding-top: 20px;
  }
  .cards-1-row-allday-title h3 {
    padding: 5px;
  }
  .cards-1-row-sharper-title h3 {
    padding: 5px;
  }
  .cards-2-row {
    display: block;
    padding-top: 20px;
  }
  .cards-2-row-calmness-title h3 {
    padding: 5px;
  }
  .cards-2-row-improved h3 {
    padding: 5px;
  }
  .cards-btn-text img {
    width: 15px;
  }
  .testimonials {
    align-items: normal;
    padding: 20px;
  }
  .testimonials-01 {
    width: 200px;
  }
  .testimonials-01-text {
    padding: 0;
  }
  .testimonials-02 {
    width: 200px;
  }
  .testimonials-02-first {
    padding-top: 15px;
  }
  .testimonials-01-signature-ticks svg {
    width: 20px;
  }
  .testimonials-02-signature-ticks svg {
    width: 20px;
  }
  .page-03-heading h1 {
    padding: 5px 25px;
  }
  .page-03-subtitle h2 {
    padding: 5px 25px;
  }
  #page-03-ingredient-list {
    padding: 10px;
  }
  .test01 {
    padding: 5px 10px;
  }
  .list-01-frame {
    display: block;
  }

  .page-04-heading-frame-text {
    padding-bottom: 5px;
  }

  .MBG-heading {
    padding-top: 5px;
  }
  .MBG-body-title {
    display: block;
  }
  .page-05 {
    border-radius: 15px;
    margin: 0 55px;
  }
  .page-05-heading h4 {
    padding: 10px 30px;
  }
  .page-05-features {
    display: block;
  }
  .page-05-features-img {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .page-05-features-right {
    padding-left: 25px;
  }
  .page-05-features-right-main {
    padding: 10px 15px 15px 10px;
  }
  /* .tik-left svg {
    width: 10px;
  }
  .tik-left svg {
    width: 10px;
  } */
  .tik-left {
    padding: 5px;
  }
  .page-06-row-1 {
    display: block;
  }
  .FAQ {
    margin: 0 50px;
  }
  .footer-container {
    padding: 10px;
  }
  .under-line {
    margin: 0 50px;
  }
  .footer-text {
    margin: 0 50px;
  }
  .end-text {
    margin: 0 50px;
  }
  .row1-first-element {
    max-width: 100%;
  }
  .page-06-text {
    max-width: 100%;
  }
}

/* MEDIA QUERY MAX 760PX */

@media only screen and (max-width: 760px) {
  .hero-cover-txt {
    position: absolute;
    max-width: 200px;
  }

  .hero-cover-txt h1 {
    color: #363636;
    font-size: 2.5vw;
    font-weight: 400;
  }
  .hero-cover-txt .green {
    color: #549663;
    font-size: 2.5vw;
    font-weight: 800;
  }

  .hero-cover-txt h3 {
    font-size: 1.5vw;
    font-weight: 400;
    color: #363636;
  }
  .hero-cover-txt .one-of-a-kind {
    font-size: 1.5vw;
    font-weight: 800;
    color: #363636;
  }
  .page-01-heading {
    padding: 5px 50px;
  }

  .purshase-CTA {
    display: block;
    padding: 5px;
  }

  .page-CTA-plan-01 {
    margin-right: 0;
  }
  .sub-plan-01-sub-frame-product img {
    width: 150px;
    margin: 0;
  }
  .sub-plan-01-sub-frame-product svg {
    width: 30px;
  }
  .buy-now img {
    position: absolute;
    padding-left: 40px;
    margin-top: -15px;
  }

  .btn-buy-now {
    width: 200px;
  }
  .sub-plan-02-sub-frame-product4 img {
    width: 200px;
    left: 30px;
  }
  .sub-plan-02-sub-frame-product4 svg {
    width: 30px;
    margin: 0;
  }
  .page-CTA-third-frame {
    margin: 0;
    padding: 0;
  }
  .third-frame img {
    width: 15px;
  }
  .page-02-heading-frame-text-elipse {
    left: 90%;
  }
  .cards {
    padding: 5px 20px;
  }
  .cards h3 {
    font-size: 2vw;
  }
  .cards p {
    font-size: 1.5vw;
  }
  .green-and-lean {
    font-size: 1.5vw;
  }
  .list-01-frame-text p {
    font-size: 1.5vw;
  }
  .list-01-frame-text-bold li {
    font-size: 1.5vw;
  }
  .list-01-frame-text {
    max-width: 100%;
  }
  .cards-1-row {
    display: block;
    padding-top: 20px;
  }
  .cards-1-row-allday-title h3 {
    padding: 5px;
  }
  .cards-1-row-sharper-title h3 {
    padding: 5px;
  }
  .cards-2-row {
    display: block;
    padding-top: 20px;
  }
  .cards-2-row-calmness-title h3 {
    padding: 5px;
  }
  .cards-2-row-improved h3 {
    padding: 5px;
  }
  .cards-btn-text img {
    width: 15px;
  }
  .testimonials {
    display: block;
    padding: 20px;
  }
  .testimonials-01 {
    width: 200px;
  }
  .testimonials-01-text {
    padding: 0;
  }
  .testimonials-02 {
    width: 200px;
  }
  .testimonials-02-first {
    padding-top: 15px;
  }
  .testimonials-01-signature {
    display: block;
  }
  .testimonials-01-signature-ticks svg {
    width: 20px;
  }
  .testimonials-02-signature {
    display: block;
  }
  .testimonials-02-signature-ticks svg {
    width: 20px;
  }
  .page-03-heading h1 {
    padding: 5px 25px;
  }
  .page-03-subtitle h2 {
    padding: 5px 25px;
  }
  #page-03-ingredient-list {
    padding: 10px;
  }
  .test01 {
    padding: 5px 10px;
  }
  .list-01-frame {
    display: block;
  }

  .page-04-heading-frame-text {
    padding-bottom: 5px;
  }
  .MBG-heading {
    padding-top: 5px;
  }
  .MBG-body-title {
    display: block;
  }
  .page-05 {
    border-radius: 15px;
    margin: 0 55px;
  }
  .page-05-heading h4 {
    padding: 10px 30px;
  }
  .page-05-features {
    display: block;
  }
  .page-05-features-img {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .page-05-features-right {
    padding-left: 25px;
  }
  .page-05-features-right-main {
    padding: 10px 15px 15px 10px;
  }
  .tik-left svg {
    width: 10px;
  }
  .tik-left svg {
    width: 10px;
  }
  .tik-left {
    padding: 0;
  }
  .page-06-row-1 {
    display: block;
  }
  .FAQ {
    margin: 0 50px;
  }
  .footer-container {
    padding: 10px;
  }
  .under-line {
    margin: 0 50px;
  }
  .footer-text {
    margin: 0 50px;
  }
  .end-text {
    margin: 0 50px;
  }
  .row1-first-element {
    max-width: 100%;
  }
  .page-06-text {
    max-width: 100%;
  }
}
/* MEDIA QUERY MAX 480 PX */

@media only screen and (max-width: 480px) {
  .hero-cover-txt {
    position: absolute;
  }
  .hero-cover-txt h1 {
    color: #363636;
    font-size: 2.5vw;
    font-weight: 400;
    max-width: 120px;
  }
  .hero-cover-txt .green {
    color: #549663;
    font-size: 2.5vw;
    font-weight: 800;
  }

  .hero-cover-txt h3 {
    font-size: 1.5vw;
    font-weight: 400;
    color: #363636;
    max-width: 120px;
    padding-top: 5px;
  }
  .hero-cover-txt .one-of-a-kind {
    font-size: 1.5vw;
    font-weight: 800;
    color: #363636;
  }
  .page-01-heading {
    padding: 5px 50px;
  }

  .purshase-CTA {
    display: block;
    padding: 5px;
  }

  .page-CTA-plan-01 {
    margin-right: 0;
  }
  .sub-plan-01-sub-frame-product img {
    width: 150px;
    margin: 0;
  }
  .sub-plan-01-sub-frame-product svg {
    width: 30px;
  }
  .buy-now img {
    position: absolute;
    padding-left: 40px;
    margin-top: -15px;
  }

  .btn-buy-now {
    width: 200px;
  }
  .sub-plan-02-sub-frame-product4 img {
    width: 200px;
    left: 30px;
  }
  .sub-plan-02-sub-frame-product4 svg {
    width: 30px;
    margin: 0;
  }
  .page-CTA-third-frame {
    margin: 0;
    padding: 0;
  }
  .third-frame img {
    width: 15px;
  }
  .page-02-heading-frame-text h3 {
    font-size: 1.5vw;
    font-weight: 400;
    color: #ffffff;
  }
  .page-02-heading-frame-text h2 {
    font-size: 2vw;
    font-weight: 800;
    color: #ffffff;
  }
  .page-02-heading-frame-text-elipse {
    left: 90%;
  }
  .cards {
    padding: 5px 20px;
  }
  .cards-1-row {
    display: block;
    padding-top: 20px;
  }
  .cards-1-row-allday-title h3 {
    padding: 5px;
  }
  .cards-1-row-sharper-title h3 {
    padding: 5px;
  }
  .cards-2-row {
    display: block;
    padding-top: 20px;
  }
  .cards-2-row-calmness-title h3 {
    padding: 5px;
  }
  .cards-2-row-improved h3 {
    padding: 5px;
  }
  .cards-btn-text img {
    width: 15px;
  }
  .testimonials {
    display: block;
    padding: 20px;
  }
  .testimonials-01 {
    width: 200px;
  }
  .testimonials-01-text {
    padding: 0;
  }
  .testimonials-02 {
    width: 200px;
  }
  .testimonials-02-first {
    padding-top: 15px;
  }
  .testimonials-01-signature {
    display: block;
  }
  .testimonials-01-signature-ticks svg {
    width: 20px;
  }
  .testimonials-02-signature {
    display: block;
  }
  .testimonials-02-signature-ticks svg {
    width: 20px;
  }
  .page-03-heading h1 {
    padding: 5px 25px;
  }
  .page-03-subtitle h2 {
    padding: 5px 25px;
  }
  #page-03-ingredient-list {
    padding: 10px;
  }
  .test01 {
    padding: 5px 10px;
  }
  .list-01-frame {
    display: block;
  }

  .page-04-heading-frame-text {
    padding-bottom: 5px;
  }
  .page-04-heading-frame-text-elipse {
    left: 90%;
  }
  .MBG-heading {
    padding-top: 5px;
  }
  .MBG-body-title {
    display: block;
  }
  .page-05 {
    border-radius: 15px;
    margin: 0 55px;
  }
  .page-05-heading h4 {
    padding: 10px 30px;
  }
  .page-05-features {
    display: block;
  }
  .page-05-features-img {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .page-05-features-right {
    padding-left: 25px;
  }
  .page-05-features-right-main {
    padding: 10px 15px 15px 10px;
  }
  .tik-left svg {
    width: 10px;
  }
  .tik-left svg {
    width: 10px;
  }
  .tik-left {
    padding: 0;
  }
  .page-06-row-1 {
    display: block;
  }
  .FAQ {
    margin: 0 50px;
  }
  .footer-container {
    padding: 10px;
  }
  .under-line {
    margin: 0 50px;
  }
  .footer-text {
    margin: 0 50px;
  }
  .end-text {
    margin: 0 50px;
  }
}
